<!-- <main class="main">
  <div class="content">
    <div class="left-side">
      <h2>
        Proyectos
      </h2>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>descrip</th>
            <th>img</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let driver of drivers">
            <td>{{driver.id}}</td>
            <td>{{driver.proyecto}}</td>
            <td>{{driver.descripcion}}</td>
            <td>{{driver.imagen}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main> -->
<!-- Seccion de mi-portafolio  -->
<div class="center-text">
  <h2>Mis <span>Proyectos</span></h2>
</div>

<section *ngFor="let driver of drivers" class="portafolioo" id="portafolioo">
  <div class="Portafolioo-content">
    <div class="row">
      <img src="{{driver.imagen}}" alt="Imagen del proyecto">
      <div class="main-row">
        <div class="row-text">
          <h5>{{driver.proyecto}}</h5>
        </div>
        <div class="row icon">
          <i class="ri-github-fill"></i>
        </div>
      </div>
      <h4>{{driver.descripcion}}</h4>
    </div>
  </div>
</section>

 <!-- Seccion de mi-contacto -->
 <section class="contact" id="contact">
  <div class="container">
    <div class="center">
      <h3>Quieres contactarme?!</h3>
      <p>Enviame un mensaje</p>
    </div>

    <div class="action">
      <form (submit)="enviarMensaje()">
        <input type="text" name="text" placeholder="Escribe tu mensaje" [(ngModel)]="telefono.Mensaje" required="">
        <input type="submit" name="submit" value="Enviar">
      </form>

      <div id="alert" class="alert" style="display: none;"></div>

      <div class="alert alert-success mt-3" id="successMessage"
        [style.display]="successMessageVisible ? 'block' : 'none'">
        ¡Mensaje enviado exitosamente!
      </div>

      <div class="alert alert-danger mt-3" id="errorMessage" [style.display]="errorMessageVisible ? 'block' : 'none'">
        Error al enviar el mensaje. Por favor, inténtalo de nuevo.
      </div>
    </div>
  </div>
</section>
